.todo-add-wrapper {
    width: 80%;
    margin: 30px auto;
}

.todo-add-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__input{
        margin-bottom: 1rem;
        width: 400px;
        height: 30px;
        text-indent: 10px;

        @media (max-width: $tablet-width) {
            width: 260px;
        }
    }

    &__button{
        height: 50px;
        width: 200px;
    }
}